img{
    width: 15%;
    margin: 0 0 30px;
}
body{
    background-color: whitesmoke;
}
.registerpage{
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}
h1{
    text-align: center;
    color:rgb(0, 0, 0);
    position: relative;
}
form{
    position: relative;
    z-index: 1;
    background: whitesmoke;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 ,0 5px 5px 0;
}
input{
    font-family: sans-serif;
    background: rgb(255, 255, 255);
    width: 100%;
    border-style: solid;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 12px;
}
#register{
    font-family: sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: rgb(47, 47, 47);
    width: 100%;
    border: 0;
    padding: 15px;
    color: whitesmoke;
    font-size: 10px;
    transition: all 0.3 ease;
    cursor: pointer;
}
#register:hover,#register:active,#register:focus {
    background: #555555;
  }